on:
  issue_comment:
    types:
      - created
jobs:
  container-tests:
    runs-on: ubuntu-22.04
    name: "Smoke test for testing farm as a github action"

    if: |
      github.event.issue.pull_request
      && contains(github.event.comment.body, '[test]')
      && contains(fromJson('["OWNER", "MEMBER"]'), github.event.comment.author_association)

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          ref: "refs/pull/${{ github.event.issue.number }}/head"

      - name: Run the tests
        uses: ./
        with:
          api_key: ${{ secrets.TF_PUBLIC_API_KEY }}
          tmt_plan_regex: "smoke_plan"
          pull_request_status_name: "Smoke test"
          update_pull_request_status: "true"
          create_issue_comment: "true"
